html, 
body {
  
  margin: 0;
  
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  
}

div {
  height: 690px;
}

.footer {
  height: 200px;
}

.section.one,
.footer {
    color: #fff;
    background-color: #1f2937;
}

.section.three {
    background-color: #e5e7eb;
}