html, 
body {
  
  margin: 0;
  
  
}

img {
  height: 200px;
  width: auto;
}

body {
  font-family: 'Roboto', sans-serif;
 
}

.container {

  
  
}

a {
  color: white;
}

.section.one {
  
}

.section-two-box {
  border: solid black 1px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.footer {
  
}

.section.one,
.footer {
    color: #fff;
    background-color: #1f2937;
}

.section.three {
    background-color: #e5e7eb;
}